<!DOCTYPE html>
<html class="<%= @page_class %>" lang="<%= I18n.locale %>">
<head>
  <!-- Environment: <%= environment_info.name %> -->
  <!-- Revision: <%= environment_info.revision %> -->
  <!-- Released at: <%= environment_info.released_at %> -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title><%= title %></title>
  <meta name="description" content="<%= meta_description %>" />

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= favicon_link_tag "favicon.ico" %>
</head>
<body>

  <%= render 'nav' %>

  <div class="container">
    <%= render 'flash_messages' %>
    <%= render 'unsupported_browsers' %>

    <div class="row" id="content" tabindex="-1">
      <div class="col-md-12">
        <%= yield %>
      </div>
    </div>
  </div>

  <%= render 'environment_info' %>

  <footer>
    <div class="container">
      <div class="row">
        <div class="col-sm-4 hidden-xs">
          <p>
            <%= image_tag 'tiulogo_titled.png', id: 'footer-logo' %>
          </p>
        </div>
        <div class="col-sm-8">
          <p class="text-muted">
            Copyright &copy; <%= Date.today.year %> <a href="http://www.tiu11.org">Tuscarora Intermediate Unit 11</a><br>
          </p>
        </div>
      </div>
    </div>
  </footer>

</body>
</html>
