<h2>Request a Password Reset</h2>

<p>
  Complete the form below and instructions to reset your password will be emailed to you. If you need help,
  <%= link_to icon('send-o', 'let us know'),
      "mailto:help@tiu11.org?subject=Help with a Password Reset&body=(Tell us what the trouble is and how to contact you)",
      target: '_blank' %>.
</p>

<%= form_for @password_reset, html: {class: 'form-horizontal', role: 'form'} do |f| %>

  <%= render 'shared/error_messages', target: @password_reset %>

  <div class="form-group">
    <%= f.label :username, class: 'required col-sm-2 control-label' %>
    <div class="col-sm-4">
      <%= f.text_field :username, autocomplete: 'off', class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :email, 'Registered Email', class: 'required col-sm-2 control-label' %>
    <div class="col-sm-4">
      <%= f.text_field :email, autocomplete: 'off', class: 'form-control' %>
      <p class="help-block">
        For your security, we will only email a password reset to the registered account.
      </p>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit 'Email my password reset', class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
