<h2>Forgot Password</h2>

<p>
  Complete the form below and instructions to reset your password will be emailed to you. If you need help,
  <%= link_to "mailto:ocs-odponlinehelp@odpconsulting.net?subject=Help with a Password Reset&body=%3CTell us what the trouble is and how to contact you%3E Name: %3Cname%3E Telephone: %3Cphone%3E", target: "_blank" do %>
    let us know <i class="icon-envelope"></i>
  <% end %>.
</p>

<%= form_for @password_reset, html: {class: "form-horizontal"} do |f| %>

  <%= render 'shared/error_messages', :target => @password_reset %>

  <div class="control-group">
    <label class="required control-label">Username:</label>
    <div class="controls">
      <%= f.text_field :username, autocomplete: 'off' %>
    </div>
  </div>

  <div class="control-group">
    <label class="required control-label">Registered Email:</label>
    <div class="controls">
      <%= f.text_field :email, autocomplete: 'off' %>
    </div>
  </div>

  <div class="form-actions">
    <%= submit_tag "Reset my password", :class => "btn btn-primary"%>
  </div>
<% end %>
