<%%
  # Does <%= singular_table_name %> have *any* abilities from the menu?
  if [:edit, :show, :delete].index{|ability| can? ability, <%= singular_table_name %>}
    dropdown_class ||= 'btn-mini'
%>
  <div class="btn-group pull-right">
    <a class="btn dropdown-toggle <%%= dropdown_class %>" data-toggle="dropdown" href="#">
      <i class="icon-th-list" title="Menu"></i>
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <!-- dropdown menu links -->
      <li>
        <%% if can? :show, <%= singular_table_name %> %>
          <%%= link_to <%= singular_table_name %>_path(<%= singular_table_name %>) do %>
            <i class="icon-file"></i> Show
          <%% end %>
        <%% end %>
      </li>
      <%% if can? :edit, <%= singular_table_name %> %>
        <li>
          <%%= link_to edit_<%= singular_table_name %>_path(<%= singular_table_name %>) do %>
            <i class="icon-pencil"></i> Edit
          <%% end %>
        </li>
      <%% end %>
      <%% if can? :delete, <%= singular_table_name %> %>
        <li>
          <%%= link_to <%= singular_table_name %>, {data: { :confirm => 'Are you sure?' }, method: :delete} do %>
            <i class="icon-remove"></i> Destroy
          <%% end %>
        </li>
      <%% end %>
    </ul>
  </div>
<%% end %>
