<%
  # @overrides https://github.com/rails/rails/blob/3-2-stable/railties/lib/rails/generators/erb/scaffold/templates/index.html.erb
-%>
<h2><%= plural_table_name.titleize %></h2>

<div>
  <%%= pagination_entries_info @<%= plural_table_name %> -%>
</div>

<table class="table table-striped">
  <thead>
    <tr>
<% attributes.each do |attribute| -%>
      <th><%= attribute.human_name %></th>
<% end -%>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <%%= content_tag_for(:tr, @<%= plural_table_name %>) do |<%= singular_table_name %>| %>
<% attributes.each do |attribute| -%>
      <td><%%= <%= singular_table_name %>.<%= attribute.name %> %></td>
<% end -%>
      <td><%%= render 'action_menu', <%= singular_table_name %>: <%= singular_table_name %> %></td>
    <%% end %>
  </tbody>
</table>

<%%= pagination_nav @<%= plural_table_name %> -%>

<%% if can? :create, <%= human_name %> %>
  <div class="form-actions">
    <%%= link_to new_<%= singular_table_name %>_path, {:class => 'btn'} do %>
      <i class="icon-plus"></i> New <%= human_name %>
    <%% end %>
  </div>
<%% end %>
