<%
  # @overrides https://github.com/rails/rails/blob/3-2-stable/railties/lib/rails/generators/erb/scaffold/templates/index.html.erb
-%>
<div class="form-group pull-right">
  <%%= link_to icon('plus', 'New <%= singular_table_name.titleize %>'), new_<%= singular_table_name %>_path, {class: 'btn btn-primary'} if can? :create, <%= plural_table_name.classify %> %>
</div>

<h2><%= plural_table_name.titleize %></h2>

<div class="clearfix"></div>

<div class="text-right">
  <%%= pagination_entries_info @<%= plural_table_name %> -%>
  <div class="hidden-print">
    <%%= link_to icon('download', 'Excel Download'), <%= plural_table_name %>_path(format: 'xls') %>
  </div>
</div>

<table class="table table-striped">
  <thead>
    <tr>
<% attributes.each do |attribute| -%>
      <th><%= attribute.human_name %></th>
<% end -%>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <%%= content_tag_for(:tr, @<%= plural_table_name %>) do |<%= singular_table_name %>| %>
<% attributes.each do |attribute| -%>
      <td><%%= <%= singular_table_name %>.<%= attribute.name %> %></td>
<% end -%>
      <td><%%= render 'action_menu', <%= singular_table_name %>: <%= singular_table_name %>, size: 'btn-xs' %></td>
    <%% end %>
  </tbody>
</table>

<%%= pagination_nav @<%= plural_table_name %> -%>
