<h2><%%= @<%= singular_table_name %>.to_s %></h2>

<dl class="dl-horizontal">
<% attributes.each do |attribute| -%>

    <dt><%= attribute.human_name %>:</dt>
    <dd><%%= @<%= singular_table_name %>.<%= attribute.name %> %></dd>
<% end -%>

</dl>

<div class="form-group">
  <%%= link_to 'Edit', edit_<%= singular_table_name %>_path(@<%= singular_table_name %>), {class: "btn btn-default"} if can? :edit, @<%= singular_table_name %> %>
  <%%= link_to 'Back', <%= index_helper %>_path, {class: "btn btn-default"} %>
</div>
