<div class="version list-group-item" id="<%= version.cache_key.dasherize.parameterize %>">

  <div class="version-timestamp">
    <%= version.created_at.strftime('%A, %B %e, %Y %l:%M%P %Z') %>
  </div>

  <div class="version-author">
    <span class="text-muted caption">Author: </span>
    <% if version.who.is_a? User %>
      <%= link_to version.who, version.who %>
    <% else %>
      <tt><%= version.who %></tt>
    <% end %>
  </div>

  <p class="version-event">
    <%= t("papertrail.events.#{version.event}", default: version.event).titleize %>
    <%= version.item_class.model_name.human %>
    <% if version.object_instance.present? %>
     &mdash;
    <% end %>
    <% if version.route? %>
      <%= link_to(version.object_instance, version.object_path) %>
    <% else %>
      <%= version.object_instance %>
    <% end %>
  </p>

  <dl class="dl-horizontal version-changes">
    <% version.enhanced_changeset.each do |prop, change| %>
      <dt><%= "#{prop} " %></dt>
      <dd>
        <tt class="before"><%= change[0] %></tt>
        <tt class="after"><%= change[1] %></tt>
      </dd>
    <% end %>
  </dl>
</div>
