<%# Allows sanitized HTML in flash messages. Simply setting html_safe on a message won't work
  # since JSON serialized cookies only store simple strings, not `ActiveSupport::SafeBuffer` instances.
  # See (http://stackoverflow.com/questions/26538891/flash-message-with-html-safe-from-the-controller-in-rails-4-safe-version) %>
<div class="row">
  <div class="col-md-12">

    <% if flash[:success] %>
      <p class="flash-message alert alert-success" role="alert">
        <%= sanitize(flash[:success]) %>
      </p>
    <% end %>

    <% if flash[:notice] # Rails standard %>
      <p class="flash-message alert alert-info" role="alert">
        <%= sanitize(flash[:notice]) %>
      </p>
    <% end %>

    <% if flash[:warning] %>
      <p class="flash-message alert alert-warning" role="alert">
        <%= sanitize(flash[:warning]) %>
      </p>
    <% end %>

    <% if flash[:error] %>
      <p class="flash-message alert alert-danger" role="alert">
        <%= sanitize(flash[:error]) %>
      </p>
    <% end %>

    <% if flash[:alert] # Rails standard %>
      <p class="flash-message alert alert-danger" role="alert">
        <%= sanitize(flash[:alert]) %>
      </p>
    <% end %>
  </div>
</div>
