<h1>
  Revision History
  <%= content_tag :small, "for #{@parent.class.name}, #{@parent}" if @parent %>
</h1>

<div class="text-right">
  <%= pagination_entries_info @versions -%>
  <div class="hidden-print">
    <%= link_to icon('download', 'Excel Download'),
                polymorphic_path([@user, 'versions'], format: 'xls') %>
  </div>
</div>


<%= render @versions %>

<%= will_paginate @versions %>

<p class="alert alert-info">
  <%= icon 'lightbulb-o', nil, class: 'fa-lg' %> Changes to times, like <code>updated_at</code>, are shown in UTC, instead of the default <%= Time.now.zone %>.
</p>
