<table>
  <thead>
    <tr>
      <th>Change Type</th>
      <th>Item Type</th>
      <th>Item</th>
      <th>Who</th>
      <th>When</th>
      <th>Change</th>
    </tr>
  </thead>

  <tbody>
    <% @versions.each do |version| %>
      <%= content_tag :tr, id: dom_id(version), class: dom_class(version) do %>
        <td><%= version.event %></td>
        <td><%= version.item_type %></td>
        <td><%= link_to version.reify.to_s, polymorphic_path(version.reify) if version.reify %></td>
        <td><%= version.who %></td>
        <td><%= version.created_at %></td>
        <td><%= version.changeset %></td>
      <% end %>
    <% end %>
  </tbody>

  <tfoot>
    <tr>
      <th>Obtained from</th><td><%= request.original_url %></td>
    </tr>
    <tr>
      <th>Generated on</th><td><%= Time.now.to_s(:long) %></td>
    </tr>
  </tfoot>
</table>
