<h1>
  Revision History
  <%= content_tag :small, "for #{@user}" if @user %>
  <%= content_tag :small, "for #{@parent.class.name}, #{@parent}" if @parent %>
</h1>

<div class="text-right">
  <%= pagination_entries_info @versions %>

  <div class="hidden-print">
    <%= link_to icon('download', 'Excel Download'), url_for(format: 'xls') %>
  </div>
</div>

<ul class="list-group versions-container">
  <%= render @versions %>
</ul>

<%= content_tag :p, 'No matching versions', class: 'lead' if @versions.blank? %>

<%= pagination_nav @versions %>
